workflow_main.json
{
  "name": "Generuj Kontent s Antigravity (JPEG Force)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "channel_post"
        ],
        "additionalFields": {
          "downloadImages": true
        }
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "ggBidFIj9AFlYR0J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analyze = require('/home/node/scripts/telegram_incoming_handler.js');\nreturn analyze(items);"
      },
      "id": "analyze-input",
      "name": "Analyze Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepare = require('/home/node/scripts/prepare_generation.js');\nreturn prepare(items);"
      },
      "id": "prepare-prompts",
      "name": "Prepare Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"target_action\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "generate_image"
            },
            {
              "value2": "generate_text"
            },
            {
              "value2": "refine_text"
            }
          ]
        }
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "format": "jpeg",
        "options": {
          "quality": 80
        }
      },
      "id": "convert-to-jpeg",
      "name": "Convert to JPEG",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = require('/home/node/scripts/prep_image.js');\nreturn prep(items);"
      },
      "id": "prep_img_base64",
      "name": "Prep Image Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json[\"image_prompt\"] }}",
        "n": 1,
        "size": "1024x1024",
        "responseFormat": "url"
      },
      "id": "openai-image",
      "name": "OpenAI Image (DALL-E)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=PASTE_YOUR_API_KEY_HERE",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [\n  {\n    \"parts\": [\n      { \"text\": $json.vision_prompt },\n      {\n        \"inline_data\": {\n          \"mime_type\": $json.mime_type,\n          \"data\": $json.base64_image\n        }\n      }\n    ]\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini_flash_http",
      "name": "Gemini Flash (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key=PASTE_YOUR_API_KEY_HERE",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [\n  {\n    \"parts\": [\n      { \"text\": $json.text_prompt }\n    ]\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini_pro_http",
      "name": "Gemini Pro (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1360,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const parser = require('/home/node/scripts/parse_gemini.js');\nreturn parser(items);"
      },
      "id": "parse_gemini",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {},
      "id": "merge-node",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepare = require('/home/node/scripts/prepare_approval.js');\nreturn prepare(items);"
      },
      "id": "prepare-approval",
      "name": "Prepare Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"chat_id\"] }}",
        "text": "={{ $json[\"telegram_message\"] }}",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "inlineKeyboard": {
            "rows": [
              {
                "row": [
                  {
                    "text": "👍 Опубликовать",
                    "callback_data": "publish"
                  },
                  {
                    "text": "🔄 Перегенерировать",
                    "callback_data": "regenerate"
                  }
                ]
              }
            ]
          }
        }
      },
      "id": "telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "ggBidFIj9AFlYR0J",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Analyze Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Input": {
      "main": [
        [
          {
            "node": "Prepare Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompts": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "OpenAI Image (DALL-E)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to JPEG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Pro (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image (DALL-E)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JPEG": {
      "main": [
        [
          {
            "node": "Prep Image Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Image Base64": {
      "main": [
        [
          {
            "node": "Gemini Flash (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash (HTTP)": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Pro (HTTP)": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}